/*

Author: David Siglin (hello@davidsiglin.com)

Built ontop of Fabricator (https://fbrctr.github.io/)

For: Really Good Email's Pattern Library (www.reallygoodemails.com)

*/

/* ANIMATIONS */

@keyframes fadein {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.f-container {
    -webkit-animation: fadein ease-in-out .35s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein ease-in-out .35s; /* Firefox < 16 */
    -ms-animation: fadein ease-in-out .35s; /* Internet Explorer */
    -o-animation: fadein ease-in-out .35s; /* Opera < 12.1 */
    animation: fadein ease-in-out .35s;
}

/* /ANIMATIONS */


/* ELEMENT LEVEL STYLES */

html {
    font-size: 8px;
    vertical-align: baseline;
}

body {
	/* set back to display: block; at end of file, this keeps page from loading piecemeal */
    display: none;
    /*setting base font styles */
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #353941; 
    line-height: 4rem;
}

main {
    width: 100%;
    /* keeping things from stretching out too far on higher resolution screens */
    max-width: 900px;
    padding: 0 2rem;
}

section {
	/* sections are used to divide subsections of a page */
    padding: 6rem 0 0;
    display: block;
}

h1 {
    margin: 2.75rem 0 1rem;
    font-weight: 700;
    font-size: 3rem;
}

.banner-Image h1 {
	font-size: 5.5rem;
	color: #FFFFFF;
	display: inline-block;
	margin: 6rem 0 0 0rem;
	letter-spacing: 1px;
	font-weight: 700;
}

h2 {
    margin: 2.5rem 0 1rem;
    font-weight: 700;
    font-size: 2.75rem
}

.f-menu-notoggle h2 {
    color:#ff4c44;
    padding:0;
    line-height: 4rem;
    font-size: 3.5rem;
    margin: 0;
}

h3 {
    margin: 2.25rem 0 1rem;
    font-size: 2.25rem;
    letter-spacing: 1px;
    font-weight: 400
}

.row-RedOutline h3 {
    color: #ff4c44;
    margin-top: 0;
}

h2.subsection-PatternLibrary, h4.subsection-PatternLibrary {
    padding: 4.5rem 0 1rem 0;
    color: #9A9CA0;
    border-bottom: 2px solid #D8D8D8;
    color: #9A9CA0;
    margin: 0 0 4rem 0;
    font-weight: 400;
}

h4.subsection-PatternLibrary {
    /* font-size: 2rem; */
    /* font-weight: 300; */
    border-bottom: 0px solid transparent;
    margin-bottom: 2rem;
    padding: 6rem 0 0 0;
    color: #9A9CA0;
    /* margin: 1.5rem 0 1rem; */
}

h4 {
    margin: 1.5rem 0 1rem;
    font-size: 1.75rem;
    letter-spacing: 1px;
    font-weight: 300;
}

.row-LightGrey h4 {
    color: #5E687B;
    text-transform: uppercase;
}

p {
	/* capping max width of paragraphs aids in readability */
    max-width: 800px;
    margin: 0;
    font-size: 2rem;
}

.heading-Stats {
    color: #D8D8D8;
    font-size: 2rem;
    margin: 0 0 0 4rem;
    float: right;
}

a {
	text-decoration: none;
	color:#ff4c44;
}

.row-RedOutline p {
    color: #ff4c44;
}

.row-LightGrey p {
    color: #9A9CA0;
}

}

blockquote {
    border: 1px solid #F4F4F4;
    background-color: #f7f7f7;
    margin: 2rem 0 5rem 0;
}

pre[class*="language-"] {
    background: #f7f7f7;
}

pre{
    font-family: "Source Code Pro", Consolas, "Lucida Console", Courier, monospace;
    white-space: normal;
    word-wrap: break-word;
    border-radius: 0;
    border-width: 0;
    background: transparent;
    padding: 0;
    position: relative;
    padding-left: 3.8em;
    counter-reset: linenumber;
}

code {
    white-space: normal;
    word-wrap: break-word;
}
/* /ELEMENT LEVEL STYLES */


/* CHANGES TO FABRICATOR CLASSES */

.f-menu {
    width: 28rem;
    height: 100%;
    z-index: 1;
    background-color: white;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.f-menu-active .f-menu {
    transform: translate(0, 0);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}

.f-menu > ul > li {
    margin-top: 1rem;
}

.f-container {
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}

.f-color-chip {
    margin-bottom: 0em;
}

.f-control-bar {
	height: auto;
	background-color: #FFFFFF;
    padding: 1rem 0 0;
    display: inline-block;
    margin: 0 1rem 0 0;
/*	width: 100%;
	position: fixed;*/
}

.f-control-bar-alt {
	padding: 2rem 0 0 0;
	height: auto;
}

.f-control {
    margin-left: 1rem;
}

.f-controls .f-control.f-active {
    box-shadow: inset 0 0 0 0 transparent;
}

.f-menu-notoggle {
    cursor: pointer;
    height: 8rem;
    width: 8rem;
    /*vertical-align: middle;*/
}

.f-menu-toggle svg {
    display: block;
    float: left;
    margin-bottom: 0;
    height: inherit;
    width: inherit;
    position: relative;
    top: 2px;
}

.f-menu-notoggle svg {
	display: block;
    float: left;
    margin-bottom: -1px;
    height: inherit;
    width: inherit;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}

.f-menu-notoggle {
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}

.f-menu-notoggle:hover svg {
    -ms-transform: scale(1.15, 1.15); /* IE 9 */
    -webkit-transform: scale(1.15, 1.15); /* Safari */
    transform: scale(1.15, 1.15);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}

.icon-Menu {
	height: 4rem;
	width: 4rem;
    display: inline-block;
}

.f-container {
    padding: 0;
}

.f-color-chips:last-of-type {
    margin-bottom: 6rem;
}

.f-item-heading {
    /* margin-top: 0; */
    /* margin-bottom: 0; */
    display: inline-block;
    /* vertical-align: middle; */
    line-height: 1;
    margin: .75em 0 .375em;
    font-weight: 700;
    font-size: 1.75em;
}

.f-item-heading-group {
     margin-bottom: 0rem; 
    vertical-align: middle;
}

.f-item-group {
    margin-top: 6rem;
    margin-bottom: 6rem;
     padding-bottom: 0rem; 
     border-bottom: 0px solid transparent; 
}

.f-menu .f-menu__heading {
    padding-left: 3rem;
    font-weight: 700;
    font-size: 2rem;
    color: #ff4c44 !important;
}
.f-menu a {
    display: block;
    padding: 0 0 0 4rem;
    color: #353941 !important;
    text-decoration: none;
    font-size: 1.75rem;
    line-height: 2rem;
    font-weight: 300;
}

.f-menu .f-menu__heading:hover {
    padding-left: 3rem;
    font-weight: 700;
    font-size: 1.75rem;
    color: #ff4c44 !important;
}

.f-menu-toggle {
    cursor: pointer;
    vertical-align: inherit;
}

a.menu-Link {
    padding: 0 0 0 2rem;
    text-decoration: none !important;
    height: 12rem;
    border-bottom: .5rem solid #ff4c44;
}

/* /CHANGES TO FABRICATOR CLASSES */


/* CHANGES TO PRISM CLASSES */
pre.line-numbers {
    position: relative;
    padding-left: 4em;
    counter-reset: linenumber;
}

code[class*="language-"], pre[class*="language-"] {
    line-height: 2rem;
    font-size: 1.25rem;
    margin: 1em 0;
}

/* /CHANGES TO PRISM CLASSES */


/* COMPLETELY NEW CSS */

.banner-Image {
	height: 12rem;
    background-image: url("../img/banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 2rem;
}

.text-RGERed {
    color: #ff4c44;
}

.row-ParagraphBox {
	height: auto;
	margin: 2rem 0 2rem;
	padding: 2rem;
	background-color: transparent;
	display: block;
	width: 100%;
	max-width: 800px;
}

.row-ParagraphBox *{
    margin: 0;
}

/*.row-LightGrey, .row-Red {
	height: auto;
	margin: 1rem 0;
	padding: 1rem;
	background-color: #ff4c44;
	display: block;
}*/

.row-LightGrey {
    background-color: #F4F4F4;
}

.row-Red {
    background-color: #FF4C44;
    color: #FFFFFF;
}

.row-LightGreyOutline {
    border: .5rem solid #9A9CA0;
    padding: 2.5rem;
    color: #9A9CA0;
}


.row-RedOutline {
    border: 2px dashed #FF4C44;
    color: #FF4C44;
}

.quote {
    padding: 2rem 10% 2rem 2rem;
}


.headers-PatternLibrary {
    display:inline-block;
    margin-top: 7rem;
}

.language-css {
    white-space: normal;
    word-wrap: break-word;
}

.font-Weight700 {
    font-weight: 700;
}

.font-Weight400 {
    font-weight: 400;
}

.font-Weight300 {
    font-weight: 300;
}

.font-Weight700, .font-Weight400, .font-Weight300 {
    font-size: 4rem;
    /* line-height: 4rem; */
    position: relative;
    bottom: .5rem;
    padding: 0 2rem 0 0;
}

.text-UpperCase {
    font-style: italic;
    font-size: 2.5rem;
    color: white;
    background-color: #FF4C44;
    padding: 0 1rem;
}

/* /COMPLETELY NEW CSS */

/* Media Queries Fabricator */
@media (min-width: 60em) {
.f-menu-active .f-container {
    margin-left: 28rem;
    transform: translate(0, 0);
}
}
/* /Media Queries Fabricator */


/* show page after CSS renders. Make sure to keep this last */

body {
    display: block;
}


* {
-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box; /* Firefox, other Gecko */
box-sizing: border-box; /* Opera/IE 8+ */
    -webkit-margin-before: 0rem;
    -webkit-margin-after: 0rem;
    -webkit-margin-start: 0rem;
    -webkit-margin-end: 0rem;
}
