
body{font-family:sans-serif}

h1, h2, h3, h4, h5, h6 {font-family: 'Roboto', sans-serif; color: #555555; line-height: 100%;}

h3 {
	margin: .625em 0 .375em;
	font-weight: 700;
    font-size: 1.25em;
}

h2 {
	margin: .75em 0 .375em;
	font-weight: 700;
    font-size: 1.75em;
}

a {
	text-decoration: none;
	color:#FE4742;
}

p, body {
    font-family: 'Roboto';
    margin: 0;
    line-height: 150%;
}

/*div p:last-of-type {
    margin-bottom: 1.5rem;
}*/



.headers-PatternLibrary{color:#FE4742;display:inline-block;margin-top: 3.8rem;}

.title-PatternLibrary{color:#FE4742;padding:0;line-height: 1;}

.f-menu-active .f-menu {
    transform: translate(0, 0);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}

.f-menu {
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}

.f-container {
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}



.text-White {
	color: #FFFFFF;
}

.text-RGERed {
    color: #FE4742;
}

.row-Red {
	height: auto;
	margin: 1rem 0;
	padding: 1rem;
	background-color: #FE4742;
	display: block;
}

.row-RedOutline {
    height: auto;
    margin: 0 0 2rem;
    padding: 1rem;
    border: 2px solid #FE4742;
    display: block;
    width: 50%;
}

.f-color-chip {
    margin-bottom: 0em;
}

.f-control-bar {
	height: auto;
	background-color: #FFFFFF;
    padding: 1rem 0 0;
    display: inline-block;
    margin: 0 .5rem 0 0;
/*	width: 100%;
	position: fixed;*/
}

.f-control-bar-alt {
	padding: 1rem 0 1.2rem 1rem;
	height: auto;
}

.f-control{
    height: 4rem;
    width: 4rem;
}

.f-menu-notoggle {
    cursor: pointer;
    /*vertical-align: middle;*/
}

.f-menu-toggle svg {
    display: block;
    float: left;
    margin-bottom: -1px;
    height: inherit;
    width: inherit;
}

.f-menu-notoggle svg {
	display: block;
    float: left;
    margin-bottom: -1px;
    height: inherit;
    width: inherit;
}

.icon-Menu {
	height: 3rem;
	width: 3rem;
    position: relative;
    bottom: 14px;
    display: inline-block;
}

.f-container {
    padding: 0 2.5em;
}

.f-color-chips:last-of-type {
    margin-bottom: 3rem;
}