
body{font-family:sans-serif}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif; 
    color: #353941; 
    line-height: 100%;
}

h1, h2 {
    color:#FE4742;
}

h1 {
    margin: .75rem 0 .375rem;
    font-weight: 700;
    font-size: 2.25rem;
}

h2 {
    margin: .75em 0 .375em;
    font-weight: 700;
    font-size: 1.75em;
}

.f-menu-notoggle h2 {
    color:#FE4742;
    padding:0;
    line-height: 1;
    font-size: 1.75rem;
}

.banner-Image h1 {
    font-size: 2.75rem;
    color: #FFFFFF;
    display: inline-block;
    margin: 3.5rem 0 0 .5rem;
    letter-spacing: 1px;
    font-weight: 700;
}

h3 {
	margin: .625em 0 .375em;
	font-weight: 700;
    font-size: 1.25em;
}

.row-RedOutline p {
    color: #FE4742;
}

.row-RedOutline h3 {
    color: #FE4742;
    margin-top: 0;
}

a {
	text-decoration: none;
	color:#FE4742;
}

p, body {
    font-family: 'Roboto';
    margin: 0;
    line-height: 150%;
}

/*div p:last-of-type {
    margin-bottom: 1.5rem;
}*/



.headers-PatternLibrary {
    display:inline-block;
    margin-top: 3.8rem;
}

.f-menu-active .f-menu {
    transform: translate(0, 0);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}

.f-menu {
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}

.f-container {
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}



.text-White {
	color: #FFFFFF;
}

.text-RGERed {
    color: #FE4742;
}

.row-Red {
	height: auto;
	margin: 1rem 0;
	padding: 1rem;
	background-color: #FE4742;
	display: block;
}

.row-RedOutline {
    height: auto;
    margin: 1rem 0 2rem;
    padding: 1rem;
    border: 2px dashed #FE4742;
    display: block;
    /*width: 50%;*/
    color: #FE4742;
}

.f-color-chip {
    margin-bottom: 0em;
}

.f-control-bar {
	height: auto;
	background-color: #FFFFFF;
    padding: 1rem 0 0;
    display: inline-block;
    margin: 0 .5rem 0 0;
/*	width: 100%;
	position: fixed;*/
}

.f-control-bar-alt {
	padding: 1rem 0 .75rem 0;
	height: auto;
}

.f-control{
    height: 4rem;
    width: 4rem;
}

.f-menu-notoggle {
    cursor: pointer;
    /*vertical-align: middle;*/
}

.f-menu-toggle svg {
    display: block;
    float: left;
    margin-bottom: -1px;
    height: inherit;
    width: inherit;
}

.f-menu-notoggle svg {
	display: block;
    float: left;
    margin-bottom: -1px;
    height: inherit;
    width: inherit;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}

.f-menu-notoggle {
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}

.f-menu-notoggle:hover svg {
    -ms-transform: scale(1.15, 1.15); /* IE 9 */
    -webkit-transform: scale(1.15, 1.15); /* Safari */
    transform: scale(1.15, 1.15);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}

.icon-Menu {
	height: 3rem;
	width: 3rem;
    position: relative;
    bottom: 14px;
    display: inline-block;
}

.f-container {
    padding: 0 2.5em;
}

.f-color-chips:last-of-type {
    margin-bottom: 3rem;
}

.f-item-heading {
    /* margin-top: 0; */
    /* margin-bottom: 0; */
    display: inline-block;
    /* vertical-align: middle; */
    line-height: 1;
    margin: .75em 0 .375em;
    font-weight: 700;
    font-size: 1.75em;
}

.f-item-heading-group {
     margin-bottom: 0rem; 
    vertical-align: middle;
}

.f-item-group {
    margin-top: 3rem;
    margin-bottom: 3rem;
     padding-bottom: 0rem; 
     border-bottom: 0px solid transparent; 
}

.f-menu .f-menu__heading {
    padding-left: 1.5rem;
    font-weight: 700;
    font-size: 0.875rem;
    color: #FE4742 !important;
}
.f-menu a {
    display: block;
    padding: 0.33rem 2rem;
    color: #353941 !important;
    text-decoration: none;
    font-size: 0.875rem;
    line-height: 1.5;
}

.f-menu .f-menu__heading:hover {
    padding-left: 1.5rem;
    font-weight: 700;
    font-size: 0.875rem;
    color: #FE4742 !important;
}

.banner-Image {
    height: 120px;
    background-image: url("img/banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 1rem;
}

a.menu-Link {
    padding: .65rem 0 0 1rem;
    text-decoration: none !important;
}
