
body{font-family:sans-serif}

h1, h2, h3, h4, h5, h6 {font-family: 'Roboto', sans-serif; color: #555555; line-height: 100%;}

h3 {
	margin: .625em 0 .375em;
	font-weight: 700;
    font-size: 1.25em;
    line-height: 1.2;
}

h2 {
	margin: .75em 0 .375em;
	font-weight: 700;
    font-size: 1.75em;
    line-height: 1.2;
}

a {
	text-decoration: none;
	color:#FE4742;
}

.headers-PatternLibrary{color:#FE4742;}

.title-PatternLibrary{color:#FE4742;margin:0;padding:0;}

.f-menu-active .f-menu {
    transform: translate(0, 0);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}

.f-menu {
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}

.f-container {
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}

p, body {
    font-family: 'Roboto';
    margin: 0;
    line-height: 150%;
}

.text-White {
	color: #FFFFFF;
}

.row-Red {
	height: auto;
	margin: 1rem 0;
	padding: 1rem;
	background-color: #FE4742;
	display: block;
}

.f-color-chip {
    margin-bottom: 0em;
}

.f-control-bar {
	height: auto;
	background-color: #FFFFFF;
/*	width: 100%;
	position: fixed;*/
}

.f-control-bar-alt {
	padding: 1rem 0 1rem 1rem;
	height: auto;
}

.f-control{
    height: 4rem;
    width: 4rem;
}

.f-menu-notoggle {
    cursor: pointer;
    vertical-align: middle;
}

.f-menu-toggle svg {
    display: block;
    float: left;
    margin-bottom: -1px;
    height: inherit;
    width: inherit;
}

.f-menu-notoggle svg {
	display: block;
    float: left;
    margin-bottom: -1px;
    height: inherit;
    width: inherit;
}

.icon-Menu {
	height: 2rem;
	width: 2rem;
}
